
/* CSS Document */
.header ul li a {
	color: #0c85cc;
	text-decoration:none
}
.nav .n1 li a{
    display: inline;
    color: #fff;
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    padding: 0px 11px;
    text-align: center;
	text-decoration: none;
    outline: 0;
	font-family: Microsoft YaHei;
}
.nav .n2 li a {
    display: inline;
    float: left;
    height: 60px;
    line-height: 60px;
    padding: 0 11px;
    font-size: 16px;
    color: #fff;
}
.nav a {
	text-decoration: none;
    outline: 0;
}
.nav li {
    float: left;
    position: relative;
}


* {
	margin: 0;
	padding: 0;
}
#header {
	width: 100%;
	height: 40px;
	background-color: #fff;
}

.header {
	width: 960px;
	margin: auto;
}

ul {
	list-style: none;
}

li {
	float: right;
	margin-top: auto;
	margin-bottom: auto;
}



.header ul li span {

	padding-left: 30px;
}

#nav {
	position: relative;
    z-index: 1000;
    width: 100%;
    min-width: 960px;
    height: 60px;
    background-color: #008ad4;
}

.nav {
	width: 960px;
    height: 60px;
    margin: 0 auto;
    font-family: Microsoft YaHei;
    background-image: none;
}

#nav h1.logo {
	float: left;
    display: inline;
    padding: 10px 10px 0px 0px;
}

.n2_new {
	float: right;
    display: inline;
	margin-top: -9px;
}

#content {
	width: 960px;
	height: 550px;
    margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #008ad4;
	border-top: 9px solid #008ad4;
	margin-bottom: 40px;
}



.boxb {
	width: 500px;
	height: 384px;
	margin: 0 auto;
	padding-top: 80px;
		text-align: center;
}



.DengZhuShang {
	border: 1px solid #fff;
    padding-top: 8px;
    text-align: center;
    font-size: 14px;
    text-indent: 0px;
}

.DZS {
	top: 8px;
	color: #fff;
    width: 40px;
    height: 38px;
    position: relative;
    float: left;
    border: 1px solid #fff;
    border-radius: 2px;
}

.DZS1 {
	float: right;
	font: 12px/1.5 \5b8b\4f53, Arial, Verdana;
}



.zhucetupian {
	
	height: 84px;
}

.zhucetupian1 {
	margin: 0 auto;;
}

.footer {
	padding-bottom: 50px;
	background: #2c323b;
}

.footer .links {
    position: relative;
    zoom: 1;
    border-bottom: 1px solid #3d424a;
    padding: 15px 0;
    font-size: 12px;
    color: #b1b3b9;
	text-align: center;
}

a {
    text-decoration: none;
	    font-size: 100%;
	    outline: none;
}
.footer .links a {
    color: #b1b3b9;
    padding: 10px;
}
.footer .links a:hover {
	color: blue;
}
.footer .copyright {
    width: 1000px;
    margin: 40px auto 0;
}
.footer .copyright p {
    line-height: 30px;
    text-align: center;
    color: #b1b3b9;
}
body{
    font: 13px/1.5 \5FAE\8F6F\96C5\9ED1,simsun,sans-serif;
}
.logo2 {
	margin-top:5px;
	padding-top: 0;
}




