* {
	margin: 0;
	padding: 0;
}



.em{
	width: 12.58px;
	height: 15px;
}

.i{
	width: 68px;
	height: 22px;
}

.li{
	margin: 0 11px 17px 0;
	width: 75px;
	height: 103px;
	float: left
}
.you h3 span{
	float: left;
    width: 219px;
    padding: 0 0 0 15px;
    margin: 0 1px 0 0;
    background: #deb200;
    color: #FFF;
    font-weight: normal;
}
a:hover{
	text-decoration: none;
	color: #000;
}
a:focus{
	text-decoration: none;
}
ul{
	list-style: none;
}
.clearfix{content: "";display: block;clear: both;}
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//*
                                     清除浏览器自带样式以及浮动



            							导航栏上方
*//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
body{
	font: 13px/1.5 \5FAE\8F6F\96C5\9ED1,simsun,sans-serif;

	position: relative;
	overflow: scroll;
	font-family: "poppin,Tahoma,Arial";
}
/*输入框*/
.search1{
	width: 1226px;
	height: 75px;
	margin: auto;
}
.search1 .bs-example{
	width: 300px;
}
.search1 .navmargin{
	float: right;
	width: 1071px;
	height: 78px;
	background-color: #fff;
	border: none;
	margin-bottom: 0;
}
.search1 .navmargin .form-control{
	width: 298px;
    height: 34px;
    border-right: none;
}
.search1 .navmargin .shurukuang{
	display: inline-block;
}
.search1 .navmargin .dengluzhuce{
	float: right;
}
.search1 .navmargin .dengluzhuce .denglu{
	margin:20px 5px;
	padding: 5px 10px;
	background-repeat: 
}

.search1 .navmargin .dengluzhuce a{
	color: #777;
}
.search1 .denglu{
	background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
	color: #fff;
	border: none;
}
.search1 .denglu:hover{
	background-image: linear-gradient(-20deg, #21d4fd 0%, #b721ff 100%);

}
.search1 .mymusic{
	padding:20px 20px;
}
.search1 a:hover{
	font-size: 24px;
	transform: scale(1.2);
}
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//*
                                     

                                         下方开启导航栏界面编写

            							
*//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.daohanglan{
	height: 55px;
	margin-top: 5px;
	background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
	background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);

}
.daohanglan .big3{
	width: 1226px;
	margin: auto;
}
.daohanglan .big3 ul li{
	float: left;
}
.daohanglan .big3 ul li .lanbeijin{
	background-color: #169af3;
}
.daohanglan .big3 ul li .erjicaidan2{
	color: #fff;
	font-size: 16px;
	line-height: 55px;
	padding: 19px 30px;
}
.daohanglan .big3 ul li a:hover{
	background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
}
.daohanglan .big3 ul li ul li{
	color: #000;
}
.daohanglan .big3 ul .dropdown{
	width: 170px;
}
.daohanglan .big3 ul .dropdown-menu .erjicaidan{
	padding: 10px 50px;
	border-top: 1px solid #999;
	color: #fff;
}
.daohanglan .big3 ul .gudingbeij{
	background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
}
.daohanglan .big3 ul .dropdown-menu .erjicaidan:hover{
	background-color: #252b34;
}
.erjicaidan {
	background-color: rgb(40,50,59);
}
.dropdown-menu{
	padding: 0;
	margin: 0;
	box-shadow:0 0 0 0;
	border: none;
	background-color: rgba(0,0,0,0);
}
.daohanglan .big3 ul .youfudong{
	float: right;
}
.daohanglan .big3 ul .youfudong span{
	cursor: pointer;
	color: #fff;
	padding: 19.5px 30px;
}
.daohanglan .big3 ul .youfudong span:hover{
	color:#7ad6d1;
}
.modal-footer {
    padding: 15px 40px 0 0;
}
#myCarousel .carousel-indicators li{
	width: 50px;
	height: 5px;
	border-radius: 1px;
}
.carousel-indicators .active{
	margin: 1px 0;
}
.modal  .modal-header{
	background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.modal  .modal-body{
	background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//*
                                     

                                         页脚

            							
*//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/


.footer {
	padding-bottom: 50px;
	background-color: #DCD9D4; 
 background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%); 
 background-blend-mode: soft-light,screen;
	box-shadow:  -3px -3px 4px rgba(0,0,0,0.18);
}

.footer .links {
    position: relative;
    zoom: 1;
    border-bottom: 1px solid #3d424a;
    padding: 15px 0;
    font-size: 12px;
    color: #b000;
	text-align: center;
}

a {
    text-decoration: none;
	font-size: 100%;
	color: black;
	outline: none;
}

.r .zimu .num a {
	margin-right: 12px;
}
.footer .links a {
    color: #000;
    padding: 10px;
}
.footer .links a:hover {
	color: blue;
}
.footer .copyright {
    width: 1000px;
    margin: 40px auto 0;
}
.footer .copyright p {
    line-height: 30px;
    text-align: center;
    color: #000;
}





.tou {
	width: 663px;
	height: 325px;
	float: left;
	margin: 20px 0 0 0;
}



.frame {
	width: 1000px;
	height: 922px;
	margin: 0 auto;
}

.you {
	width: 317px;
    height: 325px;
    float: right;
    margin: 20px 0 0 0;
	padding: 0;
	color: #000;
}

.you ul li a {
	height: 29px;
    display: block;
    line-height: 32px;
    cursor: pointer;
    padding-left: 3px;
}

.ClearBoth {
	clear: both;
    font-size: 1px;
    line-height: 1px;
    height: 1px;
}

.leftCon {
	width: 210px;
    float: left;
    position: relative;
    z-index: 1;
	margin: 1;
    padding: 0;
}

.title {
	height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #cfcfcf;
    font-size: 16px;
    color: #fff;
    font-weight: normal;
}

.tuijian {
	position: relative;
    overflow: hidden;
    margin: 10px 0 0 0;
	text-align: center;
}


.rightCon {
	width: 780px;
    float: right;
    position: relative;
    z-index: 2;
}





.tuijian dd a {
	color: #FFF;
    background-color: #85d4f3;
	display: block;
    height: 36px;
    text-align: center;
    font-size: 14px;
}

.more {
	width: 800px;
	height: 490px;
	float: left;
	margin: 0;
	padding: 0;
}

.more li {
	width: 140px;
	height: 110px;
	float: left;
	display: inline;
	margin: 0px 20px 10px 0px;
	position: relative;
}



.big {
	width: 1000px;
	height: 650px;
	margin: 0 auto;
	padding: 0;
	color: #000;
}

.l {
	width: 210px;
	height: 481px;
	margin-top: 20px;
	float: left;
}

.sng1 {
	width: 210px;
	height: 120px;
	margin-bottom: 42px;
	color: #2a2a2a;	
}

.all {
	display: block;
	width: 210px;
	height: 30px;	
	font-size: 15px;
	text-align: center;
	line-height: 30px;
}

.big .l .sng1 .all :hover {
	background: #85d2f2;
	color: #fff;
}


.hover {
	display: block;
}

.sng2 {
	width: 210px;
	height: 90px;
	margin-bottom: 42px;
	color: #2a2a2a;
	margin-top: 60px;
}

.big .l .sng2 .all :hover {
	background: #85d2f2;
	color: #fff;
}

.sng3 {
	width: 210px;
	height: 145px;
	margin-bottom: 42px;
	color: #2a2a2a;
	margin-top: 60px;
}

.big .l .sng3 .all :hover {
	background: #85d2f2;
	color: #fff;
}

.oth {
	display: block;
	width: 210px;
	height: 30px;
	margin-top: 60px;
	font-size: 15px;
	text-align: center;
	line-height: 30px;
}

.big .l .sng3 .oth :hover {
	background: #85d2f2;
	color: #fff;
}

.r {
	display: block;
	width: 781px;
	height: 590px;
	float: right;
	padding-top: 0;
	padding-left: 10px;
	margin-left: 9px;
	border-left: 1px solid #e5e5e5;
}

.zimu {
	width: 770px;
	height: 45px;
	border-bottom: 1px solid #d4d4d4; ;

}

.num {
	width: 745.34px;
	height: 24px;
	color: #303030;
    font-family: Arial;
    float: left;
    line-height: 24px;
    margin-top: 15px;
}

.big .r .zimu .num :hover {
	background: #85d2f2;
	color: #fff;
}
.zhong {
	width: 770px;
	height: 240px;
	padding: 10px;
}
.singerpn {
	width: 75px;
	height: 103px;
	float: left;
	margin-right: 5px;
}

.st {
	display: block;
	width: 68px;
	height: 22px;
	font-size: 20px;
	font-style: italic;
	margin-top: -25px;
	color: white;
	background: -webkit-linear-gradient(left,rgba(0,0,0,.4) 0%,rgba(255,255,255,0) 100%);
}

.singerpicture {
	width: 68px;
	height: 68px;
	border: 0.1mm solid white;
	box-shadow: 3px 3px 3px #333;
}

.singername {
	display: block;
	margin-top: 10px;
}





table tbody tr td a {
	color: black;
}

table tbody tr td :hover {
	color: brown;
}





.nvg {
	text-align: center;
	margin-top: -25px;
}
